/*  your css code here. If applicable */
.center-box {
    width:200px;
    height:200px;
	background-color:lightblue;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	

}

.center-box p {
    color: purple;
    font-size: 16px;
    margin: 0;
}